Repository InTouch-Val/INtouch, pull requests merged in 2024-08, with the labels that each got.

#342 bug/added button cancel in delete modal
  frontend/src/routes/AssignmentsPageRefactor/ModalsAssignments/ModalAssignments.tsx
  frontend/src/service/modal.tsx
Labels: bug, frontend

#340 fix method endpoint
  frontend/src/components/client/CompleteAssignments/CompleteAssignments.tsx
  frontend/src/components/client/DiaryPage/DiaryFooterClient/DiaryFooterClient.tsx
  frontend/src/components/client/MyDiary/CardDiary/CardDiary.tsx
Labels: bug, frontend

#349 Feat/metrics
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.tsx
  frontend/src/routes/MetricsPage/MetricsTable/MetricsTable.tsx
  frontend/src/routes/MetricsPage/MetricsTable/table.css
  frontend/src/routes/MetricsPage/metrics-page.tsx
  frontend/src/routes/MetricsPage/style.css
Labels: frontend

#339 bug/ delete button edit assignments
  frontend/src/components/psy/AddAssignment.tsx
  frontend/src/routes/AddAssignmentRefactor/AddAssignment.tsx
Labels: bug, frontend

#336 chore: removed local dev server launch
  backend/docker-compose.dev.yml
  backend/docker-compose.yml
  backend/run.sh
Labels: backend

#351 feature/assignments_validation
  backend/api/migrations/0025_alter_assignment_assignment_type_and_more.py
  backend/api/migrations/0026_alter_block_question.py
  backend/api/models.py
  backend/api/serializers.py
Labels: backend

#345 fix: fixed auto addition to favourites
  backend/api/serializers.py
  frontend/src/components/psy/AssignmentTile/AssignmentTile.tsx
  frontend/src/routes/AssignmentsPageRefactor/FilterDropDown/FilterDropDown.tsx
  frontend/src/store/actions/assignment/assignmentActions.ts
  frontend/src/utils/constants.ts
Labels: backend, fix

#337 feature: added requests logging trough middleware
  .gitignore
  backend/.dockerignore
  backend/INtouch/logger.py
  backend/INtouch/middleware/__init__.py
  backend/INtouch/middleware/request_id.py
  backend/INtouch/middleware/requests_log.py
  backend/INtouch/settings.py
Labels: backend

#364 bug/fix set password
  frontend/src/service/forms/set-new-user-password.tsx
Labels: bug

#365 bug/fix delete assignment before open modal delete
  frontend/src/routes/AssignmentsPageRefactor/AssignmentsPage.tsx
Labels: bug

#367 fix endpoint get to patch
  frontend/src/components/psy/AddAssignment.tsx
Labels: bug

#368 change title name sort
  frontend/src/routes/AssignmentsPageRefactor/FilterDropDown/FilterDropDown.tsx
Labels: bug

#366 fix inactive share client in modal share assignments
  frontend/src/routes/AssignmentsPageRefactor/ModalsAssignments/ModalAssignments.tsx
Labels: bug

#359 feature: new assignment type + draft fix
  backend/api/constants.py
  backend/api/migrations/0027_alter_assignment_assignment_type.py
  backend/api/serializers.py
  backend/api/views.py
Labels: backend, fix

#383 fix/assignment_query_fix
  .github/workflows/deploy.yml
  backend/api/permissions.py
  backend/api/views.py
  frontend/.gitignore
  frontend/src/stories/assets/accessibility.svg
  frontend/vite.config.ts
Labels: backend, fix
