Repository InTouch-Val/INtouch, pull requests merged in 2024-05, with the labels that each got.

#179 feature/swagger_docs_initial
  backend/INtouch/settings.py
  backend/INtouch/urls.py
  backend/api/serializers.py
  backend/api/urls.py
  backend/api/views.py
Labels: backend

#174 Readme file changes
  README.md
Labels: documentation

#190 Changed client confirmation mail
  backend/api/serializers.py
  backend/api/templates/registration/client_invitation.html
  backend/api/templates/registration/confirm_mail_client.html
  backend/api/views.py
Labels: backend

#189 Feature/permissions
  README.md
  backend/INtouch/settings.py
  backend/api/admin.py
  backend/api/permissions.py
  backend/api/serializers.py
  backend/api/views.py
Labels: backend

#180 Fix/fix bugs diary
  frontend/src/components/client/DiaryPage/DiaryBlockAnalysisClient/DiaryBlockAnalysisClient.jsx
  frontend/src/components/client/DiaryPage/DiaryBlockEmotionClient/DiaryBlockEmotionClient.jsx
  frontend/src/components/client/DiaryPage/DiaryBlockPhysicalSensationClient/DiaryBlockPhysicalSensationClient.jsx
  frontend/src/components/client/DiaryPage/DiaryFooterClient/DiaryFooterClient.jsx
  frontend/src/components/client/DiaryPage/DiaryPage.css
  frontend/src/components/client/DiaryPage/EventDetailsClient/EventDetailsClient.jsx
  frontend/src/components/client/DiaryPage/Header/DiaryHeaderClient.jsx
  frontend/src/components/client/DiaryPage/Header/styles.css
  frontend/src/components/client/MyDiary/CardDiary/CardDiary.css
  frontend/src/components/client/MyDiary/CardDiary/CardDiary.tsx
  frontend/src/components/client/MyDiary/MyDiary.css
  frontend/src/components/client/MyDiary/MyDiary.jsx
  frontend/src/components/psy/CardDiary/CardDiary.css
Labels: bug, frontend

#193 fix/visible_on_share
  backend/api/migrations/0018_alter_assignmentclient_visible.py
  backend/api/models.py
Labels: backend, fix

#204 Feature/login throttling
  backend/INtouch/settings.py
  backend/api/admin.py
  backend/api/permissions.py
  backend/api/serializers.py
  backend/api/templates/registration/client_invitation.html
  backend/api/urls.py
  backend/api/views.py
Labels: backend

#186 feat: new forgot pass scenario, design changes and small bugfixes
  frontend/src/components/client/CompleteAssignments/CompleteAssignments.jsx
  frontend/src/components/psy/HeaderAssigmentPage/HeaderAssignment.css
  frontend/src/css/assignment-tile.css
  frontend/src/css/clients.css
  frontend/src/css/registration.css
  frontend/src/images/LogoBig.svg
  frontend/src/images/icons/eye.svg
  frontend/src/images/icons/eyeSlash.svg
  frontend/src/service/forms/login-page.jsx
  frontend/src/service/forms/password-reset-requested.jsx
  frontend/src/service/forms/regex.jsx
  frontend/src/service/forms/registration-page.jsx
  frontend/src/service/forms/set-new-user-password.jsx
Labels: frontend

#202 fix: refresh token should refresh when expire
  frontend/src/service/axios.jsx
Labels: frontend, fix

#229 Fixed assignment-client permissions
  backend/api/permissions.py
  backend/api/views.py
Labels: backend

#216 feature/swagger_diary_routes
  backend/api/migrations/0019_alter_diarynote_author_alter_diarynote_visible.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/utils.py
  backend/api/views.py
Labels: documentation, backend
