Repository InTouch-Val/INtouch, pull requests merged in 2024-07, with the labels that each got.

#271 Fix/fix diary bugs
  frontend/src/components/client/DiaryPage/Header/styles.css
  frontend/src/components/client/MyDiary/CardDiary/CardDiary.tsx
  frontend/src/components/psy/AddAssignment.tsx
  frontend/src/components/psy/AssignmentTile/AssignmentTile.tsx
  frontend/src/components/psy/ClientAssignmentTile.tsx
  frontend/src/routes/AddAssignmentRefactor/AddAssignment.tsx
  frontend/src/store/actions/add-assignment/addAssAct.ts
  frontend/src/store/slices/add-assignment/blocks.ts
Labels: bug, frontend

#299 Fixed logging
  backend/INtouch/settings.py
Labels: backend, fix

#286 Bug/fix bug assignments
  frontend/src/components/client/ClientAssignmentCard/ClientAssignmentCard.tsx
  frontend/src/components/client/MyDiary/CardDiary/CardDiary.tsx
  frontend/src/components/psy/AssignmentTile/AssignmentTile.tsx
  frontend/src/components/psy/ClientAssignmentTile.tsx
  frontend/src/css/assignment-tile.css
  frontend/src/css/settings.scss
  frontend/src/routes/AssignmentsPageRefactor/AssignmentsPage.tsx
  frontend/src/routes/AssignmentsPageRefactor/ModalsAssignments/ModalAssignments.tsx
  frontend/src/routes/AssignmentsPageRefactor/TabsAssignments/Hoc.tsx
  frontend/src/routes/SettingPage/SecurityTab/SeciurityTab.tsx
  frontend/src/routes/settings-page.tsx
  frontend/src/service/authContext.tsx
  frontend/src/store/actions/assignment/assignmentActions.ts
  frontend/src/store/entities/assignments/assingmentsApi.ts
  frontend/src/store/entities/assignments/types.ts
  frontend/src/utils/constants.ts
Labels: bug, frontend

#300 fix/assignment_fixes
  backend/api/constants.py
  backend/api/serializers.py
  backend/api/views.py
Labels: backend, fix

#302 Changed assetlink
  backend/api/static/api/.well-known/assetlinks.json
  backend/api/static/assetlinks.json
  backend/api/views.py
  frontend/src/components/client/ClientAssignmentCard/ClientAssignmentCard.tsx
  frontend/src/store/actions/assignment/assignmentActions.ts
Labels: backend, fix

#307 changed log lvl
  backend/INtouch/settings.py
Labels: backend

#309 fix: changed http URL to https
  backend/INtouch/settings.py
  backend/api/serializers.py
Labels: backend, fix

#298 Deleted user's date of birth
  backend/api/migrations/0024_remove_user_date_of_birth.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/views.py
Labels: backend

#321 Develop
  README.md
  backend/api/migrations/0024_remove_user_date_of_birth.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/views.py
  frontend/src/components/psy/ClientDetailsPage.tsx
  frontend/src/routes/SettingPage/ProfileTab/ProfileTab.tsx
  frontend/src/routes/settings-page.tsx
Labels: backend, frontend

#322 Fix/user documentation
  backend/api/views.py
Labels: documentation, backend
