Repository InTouch-Val/INtouch, pull requests merged in 2024-06, with the labels that each got.

#209 Feat/scss and code style
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/css/app.scss
  frontend/src/scss-styles/mixins.scss
  frontend/src/scss-styles/variables.scss
  node_modules/.package-lock.json
  package.json
Labels: frontend

#225 Feature/client diary validation
  frontend/src/components/client/CompleteAssignments/CompleteAssignments.tsx
  frontend/src/components/client/DiaryPage/DiaryBlockAnalysisClient/DiaryBlockAnalysisClient.tsx
  frontend/src/components/client/DiaryPage/DiaryBlockEmotionClient/DiaryBlockEmotionClient.tsx
  frontend/src/components/client/DiaryPage/DiaryBlockPhysicalSensationClient/DiaryBlockPhysicalSensationClient.tsx
  frontend/src/components/client/DiaryPage/DiaryFooterClient/DiaryFooterClient.tsx
  frontend/src/components/client/DiaryPage/DiaryFooterClient/styles.css
  frontend/src/components/client/DiaryPage/DiaryPage.css
  frontend/src/components/client/DiaryPage/DiaryPageClient.tsx
  frontend/src/components/client/DiaryPage/EventDetailsClient/EventDetailsClient.tsx
  frontend/src/components/client/DiaryPage/Header/DiaryHeaderClient.tsx
  frontend/src/components/client/MyDiary/MobileEmotionPage/EmotionsRouteHandler.tsx
  frontend/src/components/client/MyDiary/MobileEmotionPage/MobileEmotionPage.module.css
  frontend/src/components/client/MyDiary/MobileEmotionPage/MobileEmotionPage.tsx
  frontend/src/components/client/MyDiary/MyDiary.tsx
  frontend/src/components/modals/Notifications/entryNotComplete.tsx
  frontend/src/components/modals/Notifications/entryUnsavedExit.tsx
  frontend/src/css/assignments.css
  frontend/src/css/block.css
  frontend/src/routes/SettingPage/ProfileTab/schemaValid.ts
  frontend/src/service/editors-toolbar.tsx
  frontend/src/store/slices/modals/modalsSlice.ts
  frontend/src/store/store.ts
Labels: frontend

#226 refactor assignment page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/psy/AssignmentTile.tsx
  frontend/src/css/app.scss
  frontend/src/index.tsx
  frontend/src/routes/AssignmentsPageRefactor/AllTabs/AllTabs.tsx
  frontend/src/routes/AssignmentsPageRefactor/AssignmentsPage.tsx
  frontend/src/routes/AssignmentsPageRefactor/FilterDropDown/FilterDropDown.tsx
  frontend/src/routes/AssignmentsPageRefactor/ModalsAssignments/ModalAssignments.tsx
  frontend/src/routes/AssignmentsPageRefactor/TabsAssignments/AssignmentTab.tsx
  frontend/src/routes/AssignmentsPageRefactor/TabsAssignments/Hoc.tsx
  frontend/src/routes/AssignmentsPageRefactor/TabsAssignments/Tab.tsx
  frontend/src/routes/AssignmentsPageRefactor/TabsAssignments/TabFavorites.tsx
  frontend/src/routes/AssignmentsPageRefactor/TabsAssignments/TabTasks.tsx
  frontend/src/routes/AssignmentsPageRefactor/TabsAssignments/TabsHideOrderComponent.tsx
  frontend/src/routes/assignments-page.tsx
  frontend/src/scss-styles/mixins.scss
  frontend/src/scss-styles/variables.scss
  frontend/src/service/authContext.tsx
  frontend/src/store/actions/assignment/assignmentActions.ts
  frontend/src/store/entities/assignments/assingmentsApi.ts
  frontend/src/store/entities/assignments/types.ts
  frontend/src/store/slices/assignments/assignmentSlice.ts
  frontend/src/store/store.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/hook/useObserve.ts
Labels: frontend

#246 fix bug data in diary page
  frontend/src/components/psy/CardDiary/CardDiary.tsx
Labels: bug

#249 bug/fix favorites
  frontend/src/store/entities/assignments/assingmentsApi.ts
Labels: bug

#247 feature/project_metrics
  README.md
  backend/api/constants.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/templates/base.html
  backend/api/templates/metrics/project_metrics.html
  backend/api/templates/metrics/project_metrics_table.html
  backend/api/urls.py
  backend/api/utils.py
  backend/api/views.py
  frontend/src/components/psy/AssignmentTile/DropDownButton/DropDownButton.tsx
  frontend/src/scss-styles/mixins.scss
Labels: backend

#257 fixed registration
  backend/api/serializers.py
Labels: backend

#261 Released custom client deleting
  backend/INtouch/settings.py
  backend/api/constants.py
  backend/api/migrations/0020_alter_assignment_options_user_date_daleted_and_more.py
  backend/api/migrations/0021_rename_date_daleted_user_date_deleted.py
  backend/api/migrations/0022_alter_user_date_deleted.py
  backend/api/migrations/0023_rename_date_deleted_user_deleted_on.py
  backend/api/models.py
  backend/api/views.py
  backend/static/api/.well-known/assetlinks.json
  backend/static/api/assetlinks.json
Labels: backend

#264 feature/metrics_improvements
  backend/api/constants.py
  backend/api/static/css/project_metrics.css
  backend/api/templates/base.html
  backend/api/templates/metrics/project_metrics.html
  backend/api/templates/metrics/project_metrics_table.html
  backend/api/urls.py
  backend/api/utils.py
  backend/api/views.py
Labels: backend

#258 fix layout visible card assignment
  frontend/src/components/psy/ClientAssignmentTile.tsx
Labels: bug

#259 Bug/fix bug diary
  frontend/src/components/client/MyDiary/CardDiary/CardDiary.css
  frontend/src/components/client/MyDiary/MyDiary.css
  frontend/src/components/client/MyDiary/MyDiary.tsx
  frontend/src/components/psy/CardDiary/CardDiary.css
  frontend/src/components/psy/CardDiary/CardDiary.tsx
  frontend/src/scss-styles/mixins.scss
Labels: bug

#242 fix: register errors display
  frontend/src/css/assignments.css
  frontend/src/service/forms/regex.tsx
  frontend/src/service/forms/registration-page.tsx
Labels: frontend, fix

#243 fix: reset pass errors display
  frontend/src/service/forms/set-new-user-password.tsx
Labels: frontend, fix

#269 feature/clients_metrics
  backend/api/constants.py
  backend/api/static/css/project_metrics.css
  backend/api/templates/metrics/project_metrics.html
  backend/api/templates/metrics/project_metrics_table.html
  backend/api/urls.py
  backend/api/utils.py
  backend/api/views.py
Labels: backend

#217 Feature/editor assignment
  frontend/src/components/client/CompleteAssignments/CompleteAssignments.css
  frontend/src/components/client/CompleteAssignments/CompleteAssignments.tsx
  frontend/src/components/client/DiaryPage/DiaryBlockAnalysisClient/DiaryBlockAnalysisClient.tsx
  frontend/src/components/client/DiaryPage/DiaryBlockEmotionClient/DiaryBlockEmotionClient.tsx
  frontend/src/components/client/DiaryPage/DiaryBlockPhysicalSensationClient/DiaryBlockPhysicalSensationClient.tsx
  frontend/src/components/client/DiaryPage/DiaryFooterClient/DiaryFooterClient.tsx
  frontend/src/components/client/DiaryPage/DiaryPageClient.tsx
  frontend/src/components/client/DiaryPage/EventDetailsClient/EventDetailsClient.tsx
  frontend/src/components/client/DiaryPage/Header/DiaryHeaderClient.tsx
  frontend/src/components/client/MyDiary/CardDiary/CardDiary.tsx
  frontend/src/components/client/MyDiary/MobileEmotionPage/EmotionsRouteHandler.tsx
  frontend/src/components/client/MyDiary/MobileEmotionPage/MobileEmotionPage.tsx
  frontend/src/components/client/MyDiary/MyDiary.tsx
  frontend/src/components/psy/AddAssignment.tsx
  frontend/src/service/ClientAssignmentBlocks.tsx
  frontend/src/service/editors-toolbar.tsx
  frontend/src/service/psyAssignment/AssignmentBlock.tsx
  frontend/src/store/entities/assignments/types.ts
  frontend/src/utils/helperFunction/getBlockConfig.ts
  frontend/src/utils/hook/useEditorState.ts
Labels: frontend

#281 Token lifetime changed
  backend/INtouch/settings.py
Labels: backend

#283 Token lifetime changed
  backend/INtouch/settings.py
Labels: backend

#285 fix/assignments_fixes
  backend/api/serializers.py
  backend/api/urls.py
  backend/api/views.py
Labels: backend, fix

#290 fix/assignment_fixes
  backend/api/serializers.py
Labels: fix

#287 Fixed client's info deleting
  backend/api/views.py
Labels: backend

#277 feature/metrics_recreation
  backend/api/constants.py
  backend/api/serializers.py
  backend/api/urls.py
  backend/api/utils.py
  backend/api/views.py
Labels: backend
